/* Color */

$myPink: #EE82EE;
$myBlue: #4169E1;
$myGreen: #8FBC8F;

$header: #26382F;
$navbar: whitesmoke;
$navHover: #010816;

$background-color: #56665E;
$background-color-bright: whitesmoke;
$fontColorBright: whitesmoke;
$fontColorDark: #333;
$borderColor: whitesmoke;
$footerColor: #450F08;
$boxShadowColor: #333;
$red: #63102C;
$blue: #010816;
$green: #007047;
