/* Color */

$myPink: #EE82EE;
$myBlue: #4169E1;
$myGreen: #8FBC8F;

$header: #032B29;
$navbar: #FFE6C2;
$navHover: #B38761;

$background-color: #797D70;
$background-color-bright: #FFF2E7;
$fontColorBright: #FFF2E7;
$fontColorDark: #333;
$borderColor: #FFE6C2;
$footerColor: #2B0406;
$boxShadowColor: #333;
