/* Color */

$myPink: #EE82EE;
$myBlue: #4169E1;
$myGreen: #8FBC8F;

$header: #3a464c;
$navbar: #9e9e9e;
$navHover: #878787;

$background-color: #a2a8ab;
$background-color-bright: #f5f5f5;
$fontColorBright: #f5f5f5;
$fontColorDark: #333;
