/* Color */

$myPink: #EE82EE;
$myBlue: #4169E1;
$myGreen: #8FBC8F;

$header: #26382F;
$navbar: #FFE6C2;
$navHover: #B38761;

$background-color: #56665E;
$background-color-bright: #FFF2E7;
$fontColorBright: #FFF2E7;
$fontColorDark: #333;
$borderColor: #FFE6C2;
$footerColor: #450F08;
$boxShadowColor: #333;
