/* Variables-dark */

$header: #121515;
$navbar: #3f3f3f;
$navHover: #282828;

$background-color: #111;
$background-color-bright: #282a2a;
$fontColorBright: #FFE6C2;
$fontColorDark: #FFE6C2;
$borderColor: #FFE6C2;
$boxShadowColor: #FFE6C2;

$footerColor: #121212;