/* Variables-dark */

$header: #121515;
$navbar: #2c2c2c;
$navHover: #1a1a1a;

$background-color: #111;
$background-color-bright: #1a1a1a;
$fontColorBright: #FFE6C2;
$fontColorDark: #FFE6C2;
$borderColor: #e4d0b5;
$boxShadowColor: #66625b;

$footerColor: #121212;